<nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Loja Virtual - Administrador</a>
  </div>
</nav>

<div class="container mx-auto p-2 mt-5" style="width: 400px">
  <div class="card">
    <h5 class="card-header">Acesso Administrador - v0.0.1</h5>
    <div class="card-body">
      <form class="mt-2" [formGroup]="loginForm" >
        <div class="row mb-3">
          <label for="login" class="col-sm-3 col-form-label col-form-label-sm">Usuário</label>
          <div class="col-sm-9">
            <input type="email" class="form-control form-control-sm" id="login" 
                    name="login" formControlName="login" autofocus/>
            <span *ngIf="loginForm.get('login')?.errors" style="font-size: small; color: red;">Login é obrigatório</span>
          </div>
        </div>
        <div class="row mb-3">
          <label for="senha" class="col-sm-3 col-form-label col-form-label-sm">Senha</label>
          <div class="col-sm-9">
            <input type="password" class="form-control form-control-sm" id="senha" 
                    name="senha" formControlName="senha"/>
            <span *ngIf="loginForm.get('senha')?.errors" style="font-size: small; color: red;">Senha é obrigatória</span>
          </div>
        </div>
        <div class="d-flex flex-column align-itens-center mt-2">
          <button type="submit" class="btn btn-primary" 
                  (click)="fazerLogin()" [disabled]="!loginForm.valid">Acessar</button>
          
          <button type="submit" class="btn btn-outline-secondary btn-sm mt-2"
                  (click)="recuperarSenha()">Recuperar Senha</button>
        </div>
      </form>
    </div>
  </div>
</div>
